#head {
	width: 100%;
	height: 100px;
	border: none;
}

#menu {
	float: left;
	width: 200px;
	height: 500px;
	border: none;
}

#main {
	float: left;
	width: 80%;
	height: 666px;
	border: none;
}

#foot {
	width: 100%;
	height: 80px;
	border: none;
}
